<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [%X]%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [%X]%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/log_%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>

    <!--<appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashSocketAppender">-->
        <!--<host>logstash.teko.aws</host>-->
        <!--<port>22222</port>-->
        <!--<customFields>{"facility":"recon_service_aws"}</customFields>-->
    <!--</appender>-->

    <logger name="akka" level="INFO"/>
    <logger name="org.mongodb.driver" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <!--<appender-ref ref="LOGSTASH"/>-->
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>